[paths]
source =
    sanic_toolbox
    tests

[run]
source =
    sanic_toolbox
    tests
branch = True

[report]
exclude_lines =
    no cov
    no qa
    noqa
    NOQA
    pragma: no cover
    if __name__ == .__main__.:
